In [ ]:
import pandas as pd

In [ ]:
x = pd.read_csv("train.csv")

In [ ]:
x.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [ ]:
x.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
x.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
x.drop(columns={'PassengerId','Name','Ticket','Cabin', 'Embarked'},inplace=True)

In [ ]:
x.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [ ]:
target = x.Survived

In [ ]:
x.drop(columns="Survived",inplace=True)

In [ ]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [ ]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  22.0      1      0   7.2500
1       1  female  38.0      1      0  71.2833
2       3  female  26.0      0      0   7.9250
3       1  female  35.0      1      0  53.1000
4       3    male  35.0      0      0   8.0500

In [ ]:
x.isnull().sum()

Pclass      0
Sex         0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

In [ ]:
x = pd.get_dummies(x,drop_first=True)

In [ ]:
x.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male
0       3  22.0      1      0   7.2500         1
1       1  38.0      1      0  71.2833         0
2       3  26.0      0      0   7.9250         0
3       1  35.0      1      0  53.1000         0
4       3  35.0      0      0   8.0500         1

In [ ]:
x.isnull().sum()

Pclass        0
Age         177
SibSp         0
Parch         0
Fare          0
Sex_male      0
dtype: int64

In [ ]:
x.fillna(x.mean(),inplace=True)

In [ ]:
x.isnull().sum()

Pclass      0
Age         0
SibSp       0
Parch       0
Fare        0
Sex_male    0
dtype: int64

In [ ]:
x.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male
0       3  22.0      1      0   7.2500         1
1       1  38.0      1      0  71.2833         0
2       3  26.0      0      0   7.9250         0
3       1  35.0      1      0  53.1000         0
4       3  35.0      0      0   8.0500         1

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,target,test_size=0.3)

In [ ]:
x_train.shape

(623, 6)

In [ ]:
y_train.shape

(623,)

In [ ]:
x.shape[1] #no.of columns

6

In [ ]:
from tensorflow.keras import models
from tensorflow.keras import layers

In [ ]:
model = models.Sequential()

In [ ]:
model.add(layers.Dense(units=x.shape[1],kernel_initializer='uniform',activation='relu'))
model.add(layers.Dense(units=9,kernel_initializer='uniform',activation='relu'))
model.add(layers.Dense(units=9,kernel_initializer='uniform',activation='relu'))
model.add(layers.Dense(units=1,kernel_initializer='uniform',activation='sigmoid')) #binary classification problem

In [ ]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy']
              )

In [ ]:
model.layers

[<tensorflow.python.keras.layers.core.Dense at 0x7f6a6948a438>,
 <tensorflow.python.keras.layers.core.Dense at 0x7f6a695a9710>,
 <tensorflow.python.keras.layers.core.Dense at 0x7f6a695a9908>,
 <tensorflow.python.keras.layers.core.Dense at 0x7f6a6948a470>]

In [ ]:
model.fit(x_train,y_train,epochs=32,batch_size=20)

Epoch 1/32
32/32 [==============================] - 1s 1ms/step - loss: 0.6921 - accuracy: 0.6294
Epoch 2/32
32/32 [==============================] - 0s 1ms/step - loss: 0.6869 - accuracy: 0.5969
Epoch 3/32
32/32 [==============================] - 0s 1ms/step - loss: 0.6709 - accuracy: 0.6090
Epoch 4/32
32/32 [==============================] - 0s 1ms/step - loss: 0.6293 - accuracy: 0.6286
Epoch 5/32
32/32 [==============================] - 0s 2ms/step - loss: 0.6195 - accuracy: 0.6712
Epoch 6/32
32/32 [==============================] - 0s 1ms/step - loss: 0.6084 - accuracy: 0.6824
Epoch 7/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5968 - accuracy: 0.6944
Epoch 8/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5821 - accuracy: 0.6981
Epoch 9/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5495 - accuracy: 0.7356
Epoch 10/32
32/32 [==============================] - 0s 2ms/step - loss: 0.5897 - accuracy: 0.7115
Epoch 11/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5742 - accuracy: 0.7124
Epoch 12/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5764 - accuracy: 0.6977
Epoch 13/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5943 - accuracy: 0.6686
Epoch 14/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5655 - accuracy: 0.7197
Epoch 15/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5773 - accuracy: 0.7023
Epoch 16/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5960 - accuracy: 0.6713
Epoch 17/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5728 - accuracy: 0.7024
Epoch 18/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5466 - accuracy: 0.7220
Epoch 19/32
32/32 [==============================] - 0s 2ms/step - loss: 0.5789 - accuracy: 0.6791
Epoch 20/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5716 - accuracy: 0.6832
Epoch 21/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5557 - accuracy: 0.7068
Epoch 22/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5615 - accuracy: 0.6972
Epoch 23/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5580 - accuracy: 0.7038
Epoch 24/32
32/32 [==============================] - 0s 2ms/step - loss: 0.5478 - accuracy: 0.7166
Epoch 25/32
32/32 [==============================] - 0s 2ms/step - loss: 0.5592 - accuracy: 0.6986
Epoch 26/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5537 - accuracy: 0.6882
Epoch 27/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5407 - accuracy: 0.7062
Epoch 28/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5495 - accuracy: 0.7087
Epoch 29/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5270 - accuracy: 0.7387
Epoch 30/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5180 - accuracy: 0.7351
Epoch 31/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5112 - accuracy: 0.7336
Epoch 32/32
32/32 [==============================] - 0s 1ms/step - loss: 0.5233 - accuracy: 0.7088

In [ ]:
model.evaluate(x_test,y_test,verbose=2)

9/9 - 0s - loss: 0.5127 - accuracy: 0.7649

[0.5126831531524658, 0.7649253606796265]

In [ ]:
result = model.predict(x_test)

In [ ]:
result.shape

(268, 1)

In [ ]:
result

array([[0.6315222 ],
       [0.12591928],
       [0.46649748],
       [0.48529682],
       [0.39315885],
       [0.61521506],
       [0.6690056 ],
       [0.11739239],
       [0.593276  ],
       [0.5421113 ],
       [0.28180593],
       [0.15007052],
       [0.33386698],
       [0.20686084],
       [0.18067932],
       [0.29567945],
       [0.24273726],
       [0.18297759],
       [0.17501223],
       [0.32049876],
       [0.46619862],
       [0.8601639 ],
       [0.24043858],
       [0.3185528 ],
       [0.16160262],
       [0.17515314],
       [0.15007052],
       [0.2926306 ],
       [0.6490254 ],
       [0.60637844],
       [0.97014254],
       [0.17145899],
       [0.8304343 ],
       [0.19783089],
       [0.47968566],
       [0.757063  ],
       [0.25497976],
       [0.35041398],
       [0.70167214],
       [0.15903154],
       [0.8562807 ],
       [0.15347764],
       [0.18038273],
       [0.17654496],
       [0.6286749 ],
       [0.14888492],
       [0.22538844],
       [0.51213664],
       [0.83994746],
       [0.58745915],
       [0.44390205],
       [0.10759473],
       [0.5465731 ],
       [0.10803226],
       [0.97357213],
       [0.08545628],
       [0.14888492],
       [0.50868136],
       [0.5896561 ],
       [0.6289191 ],
       [0.19783089],
       [0.142847  ],
       [0.61205804],
       [0.44204384],
       [0.2565578 ],
       [0.23663992],
       [0.14177072],
       [0.11446151],
       [0.14306337],
       [0.7437552 ],
       [0.17515314],
       [0.62743604],
       [0.4917858 ],
       [0.15007052],
       [0.16083384],
       [0.7045636 ],
       [0.5428108 ],
       [0.19401616],
       [0.17195058],
       [0.16346973],
       [0.5211714 ],
       [0.58732486],
       [0.41059038],
       [0.15865067],
       [0.22649407],
       [0.25616142],
       [0.11810192],
       [0.11429304],
       [0.14591089],
       [0.4452088 ],
       [0.15007052],
       [0.6751864 ],
       [0.12388724],
       [0.2018997 ],
       [0.11554652],
       [0.58088243],
       [0.15007052],
       [0.13332632],
       [0.61029106],
       [0.18343571],
       [0.44390205],
       [0.6673204 ],
       [0.14888492],
       [0.18009257],
       [0.5827117 ],
       [0.1126    ],
       [0.4399866 ],
       [0.11412364],
       [0.14306337],
       [0.47822833],
       [0.15485695],
       [0.14888492],
       [0.6003439 ],
       [0.091674  ],
       [0.14597344],
       [0.3470789 ],
       [0.14926392],
       [0.76864374],
       [0.7651023 ],
       [0.5214937 ],
       [0.6786083 ],
       [0.12645173],
       [0.74596345],
       [0.18714347],
       [0.3754325 ],
       [0.43942785],
       [0.59060204],
       [0.44037238],
       [0.11601251],
       [0.20068923],
       [0.41191745],
       [0.14446965],
       [0.3515444 ],
       [0.14698702],
       [0.33816996],
       [0.49830347],
       [0.80601007],
       [0.5781073 ],
       [0.43168435],
       [0.48955023],
       [0.6436011 ],
       [0.16633102],
       [0.3627204 ],
       [0.43942785],
       [0.17220512],
       [0.1440031 ],
       [0.7285216 ],
       [0.15007052],
       [0.6616545 ],
       [0.17853567],
       [0.49742678],
       [0.1402871 ],
       [0.50859946],
       [0.5529712 ],
       [0.51061213],
       [0.75821507],
       [0.6054408 ],
       [0.6965444 ],
       [0.56102484],
       [0.6422869 ],
       [0.1639167 ],
       [0.6703994 ],
       [0.38809323],
       [0.643001  ],
       [0.17066547],
       [0.15246588],
       [0.12134936],
       [0.43762898],
       [0.74738663],
       [0.14384812],
       [0.5326581 ],
       [0.18694314],
       [0.73360217],
       [0.72056687],
       [0.34765285],
       [0.703409  ],
       [0.3881152 ],
       [0.1177167 ],
       [0.85685706],
       [0.2013529 ],
       [0.22699428],
       [0.48562354],
       [0.09967005],
       [0.56216747],
       [0.51127017],
       [0.15427104],
       [0.6699396 ],
       [0.605017  ],
       [0.15623447],
       [0.08946949],
       [0.14796144],
       [0.30634636],
       [0.7110371 ],
       [0.5958435 ],
       [0.5011175 ],
       [0.15007052],
       [0.36736843],
       [0.1656752 ],
       [0.21561697],
       [0.22842672],
       [0.59588784],
       [0.17069435],
       [0.4407995 ],
       [0.10703629],
       [0.6540873 ],
       [0.15007052],
       [0.39887637],
       [0.18009257],
       [0.18726003],
       [0.61057574],
       [0.530704  ],
       [0.75548714],
       [0.12245476],
       [0.15055332],
       [0.90051275],
       [0.5896254 ],
       [0.17296916],
       [0.19428778],
       [0.15264127],
       [0.2196655 ],
       [0.59874713],
       [0.30283427],
       [0.61879283],
       [0.740848  ],
       [0.14888492],
       [0.17313114],
       [0.15525314],
       [0.20644736],
       [0.43590397],
       [0.5740998 ],
       [0.23513359],
       [0.55516446],
       [0.6603324 ],
       [0.19673899],
       [0.12945336],
       [0.16766647],
       [0.76366484],
       [0.72642636],
       [0.14384812],
       [0.16074571],
       [0.14568835],
       [0.14991072],
       [0.36178342],
       [0.17313355],
       [0.14777097],
       [0.13637722],
       [0.63865834],
       [0.60612935],
       [0.4857778 ],
       [0.22652447],
       [0.46550864],
       [0.78368545],
       [0.4413536 ],
       [0.51123554],
       [0.6099661 ],
       [0.5864983 ],
       [0.1476126 ],
       [0.56808305],
       [0.51103   ],
       [0.1148842 ],
       [0.55578536],
       [0.79493177],
       [0.703409  ],
       [0.43942785],
       [0.11910504],
       [0.367913  ],
       [0.10820457],
       [0.2962435 ]], dtype=float32)

To round the above result array we use round() and perform the following steps

In [ ]:
result[0:10]>0.5

array([[ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True]])

In [ ]:
round_result= result.round().astype(int)

In [ ]:
round_result[:10] #as a column

array([[1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1]])

In [ ]:
round_result.ndim

2

In [ ]:
round_result = round_result.T #as a row

In [ ]:
round_result[0]

array([1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0])

In [ ]:
result1D = round_result[0]

In [ ]:
round_result[0].ndim

1

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,result1D)

0.7649253731343284